@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    max-width: 1280px;
    margin: auto;
}

header .link_header {
    padding-top: 19px;
    padding-bottom: 20px;
    padding-left: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    display: flex;
    background: white;
    margin: 0;
    justify-content: space-between;
    opacity: 0.5;

}

#logo {
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    display: flex;
    background: white;
    margin: 0;
    opacity: 0.5;
}

header .link_header li {
    display: inline;
}

header .link_header li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

header .link_header li a:hover {
    text-decoration: underline;
}

.link_header li:last-child {
    margin-right: 10px;
}

#blue {
    color: #178582;
}

#main_content {
    min-height: 650px;
    background-image: url(../img/main_content.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;

}

.text_main {
    position: absolute;
    bottom: 17rem;
    font-family: 'Montserrat', sans-serif;
    color: #696969;
}

.photo_me {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    display: flex;
}

.title_skills {
    margin: 0;
    padding-right: 9rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
}

.text_skills {
    margin: 0;
    padding-right: 9rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    color: #696969;
}

#skills_content {
    display: grid;
    grid-template-columns: 6fr 4fr;
    text-align: right;
    align-items: center;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
}
#about_me_content{
    background-color: #dcd7d3;
}
.title {
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.text_me{
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    color: #696969;
    text-align: center;
}
.logo_in_about_me {
  display: flex;
  justify-content: center;
  padding-bottom: 7rem;

}