@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    max-width: 1280px;
    margin: auto;
}
header .navigation {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    background: white;
    opacity: 0.5;
    
}

header .link_header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-top: 19px;
    padding-bottom: 20px;
    width: 480px;
    margin: 0;
    list-style-type: none;
}

#logo {
    padding: 15px 0 15px 50px;
    box-sizing: border-box;
    width: 20%;
    margin: 0;
    
}

header .link_header li {
    
    margin-left: 1rem;
    font-size: 14px;
}

header .link_header li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

header .link_header li a:hover {
    text-decoration: underline;
}

.link_header li:last-child {
    margin-right: 10px;
}

#blue {
    color: #178582;
}


#main_content {
    min-height: 650px;
    background-image: url(../img/main_content.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;

}
.title_main{
   font-family: 'Montserrat', sans-serif;
   color: #1d1d1d;
 
}
.text_main {
    position: absolute;
    bottom: 17rem;
    font-family: 'Montserrat', sans-serif;
    color: #696969;
}

.photo_me {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    display: flex;
}

.title_skills {
    margin: 0;
    padding-right: 9rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
}

.text_skills {
    margin: 0;
    padding-right: 9rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    color: #696969;
}

#skills_content {
    display: grid;
    grid-template-columns: 6fr 4fr;
    text-align: right;
    align-items: center;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
}
#about_me_content{
    background-color: #dcd7d3;
}
.title {
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.text_me{
    padding: 2rem 8rem 2rem 8rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    color: #696969;
    text-align: center;
}
.logo_in_about_me {
  display: flex;
  justify-content: center;
  padding-bottom: 7rem;

}

@media (max-width: 625px) {
 
    #logo {
        width: 50px;
        padding:0;
        margin: 0;
        margin-top: 15px;
    }
    header .title_main {
        display: none;
    }
    header .text_main {
        display: none;
    }
    
    header .navigation {
        display: flex;
        flex-direction: column;
        align-items:center;
        height: 269px;
        opacity: 1;
        background: none;
    }
     header .link_header {
    display: flex;    
    flex-direction: column;
    align-items:center;
    padding: 0;
    height: 100px;
    }
     header .link_header li{
         align-items:center;
         padding-top: 25px;
         margin-left: 0;
        
     }
     #main_content {
         min-height: 350px;
         background-image: none;
         background-color: #d5cec9;
     }
}