@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    max-width: 1280px;
    margin: auto;
}

header .navigation {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    background: white;
    opacity: 0.5;
}

header .link_header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-top: 19px;
    padding-bottom: 20px;
    width: 480px;
    margin: 0;
    list-style-type: none;
}

#logo {
    padding: 15px 0 15px 50px;
    box-sizing: border-box;
    width: 20%;
    margin: 0;
}

header .link_header li {
    margin-left: 1rem;
    font-size: 14px;
}

header .link_header li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

header .link_header li a:hover {
    text-decoration: underline;
}

.link_header li:last-child {
    margin-right: 10px;
}

#blue {
    color: #178582;
}

#main_content {
    min-height: 650px;
    background-image: url(../img/main_content.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;

}

.title_main {
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1d;

}

.text_main {
    position: absolute;
    bottom: 17rem;
    font-family: 'Montserrat', sans-serif;
    color: #696969;
}

.photo_me {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    display: flex;
}

.title_skills {
    margin: 0;
    padding-right: 9rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
}

.text_skills {
    margin: 0;
    padding-right: 9rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    color: #696969;
}

#skills_content {
    display: grid;
    grid-template-columns: 6fr 4fr;
    text-align: right;
    align-items: center;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
}

#about_me_content {
    background-color: #dcd7d3;
}

.title_me {
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.text_me {
    padding: 2rem 8rem 2rem 8rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    color: #696969;
    text-align: center;
}

.logo_in_about_me {
    display: flex;
    justify-content: center;
    padding-bottom: 7rem;
}

.works_title {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 4rem 0 3rem 0;
    font-family: 'Montserrat', sans-serif;
}

.works {
    display: flex;
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    font-family: 'Montserrat', sans-serif;
}

.work_portfolio {
    text-align: center;
}

.text {
    display: flex;
    justify-content: center;
    color: #696969;
}

.work_travel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_travel {
    justify-content: center;
    color: #696969;
}

.work_newspaper {
    text-align: center;
}

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 4rem;
}

.text_project {
    text-align: center;
    padding: 0 12rem 1rem 12rem;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
    color: #696969;
}

.form {
    background-color: #dcd7d3;
}

.form_name {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

#name {
    margin: 0rem 2rem 1.5rem 0;
    padding: 0 4rem 0 0;
    height: 25px;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}

#mail {
    margin: 0 2rem 1.5rem 0;
    padding: 0 4rem 0 0;
    height: 25px;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}

.form_for_title {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

#form_title {
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 4px;
    margin: 0rem 2rem 1.5rem 0;
    padding: 0 21rem 0 0;
    font-family: 'Montserrat', sans-serif;
}

.form_for_comment {
    display: flex;
    justify-content: center;
}

#form_comment {
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 4px;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 0 21rem 6rem 0;
    font-family: 'Montserrat', sans-serif;
}

.submit {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-right: 1rem;
}

.mail-btn {
    position: relative;
    top: 0;
    height: 50px;
    padding: 0.5rem 1rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: none;
    outline: none;
    -webkit-appearance: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    cursor: pointer;
    transition: color 1.5s .5s, border 3s 1s;
}

.mail-btn:before,
.mail-btn:after {
    content: '';
    position: absolute;
    opacity: 0;
    backface-visibility: visible;
    transform-style: preserve-3d;
    perspective: 400px;
    transform-origin: 50% -50%;
    transform: rotateX(360deg) rotateY(0) translateX(-50%) translateY(0) scale(0.2);
    transition: all 0.5s;
}

.mail-btn:before {
    top: 5px;
    left: 50%;
    height: 1rem;
    background: white;
    border-top: 2rem solid #696969;
    border-right: 3rem solid transparent;
    border-left: 3rem solid transparent;
}

.mail-btn:after {
    top: 0;
    left: 50%;
    border-top: 2rem solid white;
    border-right: 3rem solid transparent;
    border-left: 3rem solid transparent;
}

.mail-btn:hover {
    color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    transition: color .25s,
    border .25s;
}

.mail-btn:hover:before,
.mail-btn:hover:after {
    opacity: 1;
    transform: rotateX(0) rotateY(-10deg) translateX(-50%) translateY(0) scale(1);
}

.footer_content {
    font-family: 'Montserrat', sans-serif;
    background-color: #141414;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr;
}

.copywriter,
.contacts,
.links_footer,
.social {
    color: #f4f4f4;
    padding: 2rem 2rem;
    border: none;
    list-style-type: none;
}

.footer_contacts {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.links_footer li a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 12px;
}

.social a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 12px;
}

.links_footer li a:hover {
    text-decoration: underline;
}

@media (max-width: 625px) {

    #logo {
        width: 50px;
        padding: 0;
        margin: 0;
        margin-top: 15px;
    }
    header .title_main {
        display: none;
    }
    header .text_main {
        display: none;
    }

    header .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 269px;
        opacity: 1;
        background: none;
    }
    header .link_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: 100px;
    }
    header .link_header li {
        align-items: center;
        padding-top: 25px;
        margin-left: 0;

    }
    #main_content {
        min-height: 350px;
        background-image: none;
        background-color: #d5cec9;
    }
    .photo_me{
        min-height: 350px;
    }
    #skills_content {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: none;
        
    }
    .title_skills {
        font-size: 12px;
        padding: 1rem 1rem 1rem;
    }
    .text_skills {
        font-size: 12px;
        padding: 0 1rem 1rem 1rem;
    }
}
